
@{
    ViewData["Title"] = "Từ chối quyền truy cập";
    Layout = "~/Views/Shared/_mainAdminLayout.cshtml";
}

<div class="relative flex items-center justify-center overflow-hidden">
    <div class="px-6 py-16 text-center font-semibold before:container before:absolute before:left-1/2 before:aspect-square before:-translate-x-1/2 before:rounded-full before:bg-[linear-gradient(180deg,#4361EE_0%,rgba(67,97,238,0)_50.73%)] before:opacity-10 md:py-20">
        <div class="relative">
            <div class="mt-5">
                <img src="~/Public/assets/images/403-forbidden.png" alt="403"
                     class="mx-auto -mt-10 w-full max-w-sm object-cover md:-mt-14 md:max-w-sm">
                <div class="font-bold text-lg md:text-4xl leading-tight mt-4"
                     style="font-weight: 900;background: linear-gradient(to right, #FF0000, #800080, #00008B); -webkit-background-clip: text; background-clip: text; color: transparent;">
                    Không có quyền truy cập
                </div>
                <p class="text-xl mt-5 font-medium dark:text-white">Bạn không có quyền truy cập vào trang này</p>
                <button @@click="goBack()"
                   class="btn btn-gradient mx-auto !mt-7 w-max border-0 uppercase shadow-[0_10px_20px_-10px_rgba(67,97,238,0.44)]">
                    Quay lại
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

