
@{
    ViewData["Title"] = "Từ chối quyền truy cập";
    Layout = "~/Views/Shared/_mainAdminLayout.cshtml";
}

<div style="text-align: center; padding: 50px;">
    <h1>Bạn không có quyền truy cập vào trang này</h1>
    <p>Đang chuyển hướng về trang chính trong 3 giây...</p>
</div>

