@using Project.Extensions
@{
    ViewData["Title"] = "Đã gửi yêu cầu đặt lại mật khẩu";
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}

@{
    var email = ViewData["Email"]?.ToString();
}

<div class="absolute inset-0">
    <img src="~/Public/assets/images/auth/bg-gradient.png" alt="image" class="h-full w-full object-cover">
</div>

<div
    class="relative flex min-h-screen items-center justify-center bg-[url(../images/auth/map.png)] bg-cover bg-center bg-no-repeat px-6 py-10 dark:bg-[#060818] sm:px-16">
    <div
        class="relative w-full max-w-[870px] rounded-md bg-[linear-gradient(45deg,#fff9f9_0%,rgba(255,255,255,0)_25%,rgba(255,255,255,0)_75%,_#fff9f9_100%)] p-2 dark:bg-[linear-gradient(52.22deg,#0E1726_0%,rgba(14,23,38,0)_18.66%,rgba(14,23,38,0)_51.04%,rgba(14,23,38,0)_80.07%,#0E1726_100%)]">
        <div
            class="relative flex flex-col justify-center rounded-md bg-white/60 backdrop-blur-lg dark:bg-black/50 px-6 lg:min-h-[758px] py-20">
            <div class="absolute top-6 left-6 flex items-center">
                <img src="~/Public/assets/images/logo/logo_official.png" alt="logo" class="h-24 w-24 mr-6">
                <div class="font-bold text-lg md:text-xl leading-tight"
                    style="font-weight: 900;background: linear-gradient(to right, #FF0000, #800080, #00008B); -webkit-background-clip: text; background-clip: text; color: transparent;">
                    Hệ thống quản lý<br>Bệnh viện Y học cổ truyền Nha Trang
                </div>
            </div>
            <div class="mx-auto w-full max-w-[440px] text-center">
                <div class="mb-10">
                    <h1 class="text-3xl uppercase !leading-snug md:text-4xl font-black mb-4"
                        style="font-weight: 900;background: linear-gradient(to right, #FF0000, #800080, #00008B); -webkit-background-clip: text; background-clip: text; color: transparent; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">
                        Đã gửi yêu cầu đặt<br>lại mật khẩu
                    </h1>
                    <p class="text-base font-bold leading-normal text-white-dark mb-8">
                        Thông tin khôi tạo lại mật khẩu đã được gửi tới email của bạn<br>
                        (@email?.MaskEmail())
                    </p>
                    <p class="text-base leading-normal text-white-dark mb-8">
                        Vui lòng kiểm tra email để tiến hành khôi tạo lại<br>(kể cả hộp thư spam).
                    </p>
                    <a href="@Url.Action("Login", "Account", new { area = "Admin" })"
                        class="btn btn-gradient border-0 uppercase shadow-[0_10px_20px_-10px_rgba(67,97,238,0.44)]">
                        Quay về trang đăng nhập
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('auth', () => ({
            goBack() {
                window.location.href = '/dang-nhap';
            }
        }));
    });

    document.getElementById('footer-year').textContent = new Date().getFullYear();
</script>